.Profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-color: #ff66cc; 
    padding: 20px;
}

.Profile-card {
    background-color: #fff; 
    border-radius: 15px; 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    padding: 40px; 
    max-width: 500px; 
    text-align: center; 
}

lo */
.Profile-card h1 {
    font-size: 32px; 
    margin-bottom: 20px;
    color: #333; 
}

.Profile-card p {
    font-size: 18px;
    margin-bottom: 15px;
    color: #555; 
}

