.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #ff66cc; 
    color: white;
    height: 100%; 
  }
  
  .login-form form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px; 
    align-items: center;
  }
  
  .login-form input {
    margin-bottom: 10px;
    padding: 10px;
    width: 100%; 
    border: none;
    border-radius: 5px;
  }
  
  .login-form a {
    color: white;
    text-decoration: none;
    margin-top: 10px;
  }
  
  .login-form a:hover {
    text-decoration: underline;
  }

  .error-message {
    color: white;
    font-size: 14px;
    margin-bottom: 10px;
    text-align: center;
  }